<h1>To Do List</h1>
<hr />

<ol>
  <% @tdlists.each do |tdlist| %>
    <li> 
      <%= tdlist.title %>
      <%= link_to 'Show', tdlist_path(tdlist) %> -
      <%= link_to 'Edit', edit_tdlist_path(tdlist) %> -
      <%= link_to 'Delete', tdlist_path(tdlist), method: :delete, data: {confirm: 'Are you sure?'} %>
    </li>
  <% end %>
</ol>

<%= link_to 'Add to the List', new_tdlist_path %>



